# VSCode
.venv
.vscode

# general
**/__pycache__
**/*.zip
**/*.png
**/*.csv
**/*.svo

# monocular depth estimation specific
monocular_depth_estimation/checkpoints

# super resolution specific
super_resolution/lowres
super_resolution/raw_pictures
super_resolution/results

# paper specific
paper/*.aux
paper/*.fdb_latexmk
paper/*.fls
paper/*.log
paper/*.out
paper/*.synctex.gz