.venv
.vscode

**/*.zip
**/*.png
**/*.csv
**/__pycache__

monocular_depth_estimation/checkpoints
monocular_depth_estimation/*.svo

super_resolution/lowres
super_resolution/raw_pictures
super_resolution/results

paper/*.aux
paper/*.fdb_latexmk
paper/*.fls
paper/*.log
paper/*.out
paper/*.synctex.gz